body{
	margin:0;
}
#img1{
	margin-left:2%;
	margin-top:-2%;
	height:15%;
	width:30%;
}
#menu{
	margin-left:70%;
	margin-top:-6%;
}
#navbar{
	background-color:white;
	padding:40px;
	box-shadow:2px 4px 8px gray;
}
#img2{
	height:75%;
	width:100%;
	border-bottom-left-radius:50% 20%;
	border-bottom-right-radius:50% 20%;
}
#rd{
	color:red;
}
#heading{
	text-align:center;
	font:30px "arial";
	font-weight:bold;
	margin-top:5%;
}
#blog1{
	padding:10px;
	box-shadow:4px 10px 18px gray;
	height:40%;
	width:25%;
	margin-top:5%;
	margin-left:5%;
}
#msn{
	font-size:27px;
	font-family:calibri;
}
#pgh{
	font-family:calibri;
	padding:8px;
	font-size:16px;
	opacity:50%;
	text-align:justify;
}
#blog2{
	padding:10px;
	box-shadow:4px 10px 18px gray;
	height:40%;
	width:25%;
	margin-top:-20.5%;
	margin-left:37.5%;
}
#blog3{
	float:right;
	padding:10px;
	box-shadow:4px 10px 18px gray;
	height:40%;
	width:25%;
	margin-top:-20.5%;
	margin-right:5%;
}
#right-side{
	float:right;
}
#left-side{
	float:left;
}
#img3{
	float:left;
	width:40%;
	margin-top:6%;
	margin-left:5%;
	box-shadow:1px 2px 4px black;
}
#h1{
	font-weight:bold;
	margin-top:32%;
	margin-left:-57%;
}
#avt1{
	opacity:70%;
	margin-top:-2.5%;
	margin-left:4%;
	float:left;
	font-size:16px;
	width:44%;
	text-align:left:
}
#img4{
	float:right;
	width:40%;
	margin-top:-35%;
	margin-right:5%;
	box-shadow:1px 2px 4px black;
}
#h2{
	font-weight:bold;
	float:right;
	margin-top:-9.3%;
	width:44%;
	margin-right:1%;
	text-align:left;
}
#avt2{
	opacity:70%;
	width:44%;
	float:right;
	margin-top:-5%;
	margin-right:1%;
	font-size:16px;
	text-align:left;
}
#left{
	
	box-shadow:2px 2px 2px black;
	width:100%;
	height:70%;
	margin-top:2%;
	background-color:#EDEAE0;
}
#h3{
	float:left;
	font-weight:bold;
	color:blue;
	font-family:calibri;
	margin-top:10%;
	margin-left:8%;
	
}
#abt1{
	margin-top:12%;
	margin-left:8%;
	width:45%;
	font-family:calibri;
	text-align:justify;
	font-size:20px
}
.btn{
	background-color:#C46210;
	font-weight:bold;
	width:15%;
	color:white;
	font-family:calibri;
	font-size:20px;
	margin-left:-69%;
	margin-top:1%;
}
#img5{
	float:right;
	height:40%;
	width:40%;
	margin-top:-19%;
	margin-right:3%;
}
#inp1{
	width:30%;
	margin-left:19%;
	margin-top:5%;
}
#inp2{
	float:right;
	width:30%;
	margin-right:19%;
	margin-top:-2.8%;
}
#form{
	margin-top:-2%;
}
#text{
	width:62%;
	height:20%;
	margin-top:1%;
}
.btn1{
	background-color:#C46210;
	font-weight:bold;
	width:20%;
	height:6%;
	color:white;
	margin-top:1%;
	font-size:22px;
	
}
#cpt{
	background-color:black;
	height:10%;
	
}
footer{
	text-align:center;
	color:gray;
	padding-top:2%;
	padding-left:5%;
}
#pb{
	opacity:80%;
}

#img6{
	float:left;
	width:65%;
}
h2{
	font-size:30px;
	color:#006A4E;
	float:right;
	margin-top:3%;
	width:19%;
	text-align:center;
	margin-right:7%;
	font-family:arial;
	font-weight:bold;
}
#logo{
	margin-left:13%;
	margin-top:0.5%;
	height:22%;
	width:11%;
}
#user{
	float:right;
	margin-top:1%;
	margin-right:12%;
}
#input1{
	height:6%;
	width:140%;
}
#input2{
	height:6%;
	margin-top:8%;
	width:140%;
}
.btn2{
	margin-top:10%;
	background-color:#008B8B;
	font-weight:bold;
	font-family:arial;
	font-size:24px;
	width:140%;
	color:white;
}
#icon1{
	margin-top:-13%;
	margin-left:5%;
	color:#aaa;
}
input[type=text]{
	padding-left:40px;
}
#icon2{
	margin-top:-12%;
	margin-left:5%;
	color:#aaa;
}
input[type=password]{
	padding-left:40px;
}
#icon3{
	float:right;
	margin-top:16%;
	margin-right:-5%;
	color:red;
}
#icon4{
	float:right;
	margin-top:16%;
	margin-right:-10%;
	color:blue;
}
#icon5{
	float:right;
	margin-top:16%;
	margin-right:-15%;
	color:#00acee;
}
#icon6{
	float:right;
	margin-top:16%;
	margin-right:-20%;
	color:red;
}
#power{
	float:right;
	margin-top:5%;
	margin-right:8%;
	color:#008B8B;
}
#by{
	color:#00B7EB;
}
#img7{
	float:right;
	margin-top:1%;
	margin-right:11%;
}